{
	"ecmaFeatures": {
	},
	"env": {
		"node": true,
		"es6": true,
		"mocha": true,
	},
	"globals": {
	},
	"plugins": [
	],
	"rules": {
		"no-unused-vars": [1],
		"no-undef": [2],
		"no-mixed-spaces-and-tabs": [2],
		"semi": [2],
	}
}
